.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#quote-box {
  background-color: white;
  border-radius: 3px;
  padding: 40px 50px;
  max-width: 600px;
  min-width: 400px;
  /* margin-left: 550px;
  margin-right: 550px; */
}

#new-quote {
  background-color: #282C34;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 3px 12px;
}

.icon {
  margin-right: 3px;
  background-color: #282C34;
  border-radius: 3px;
}

#tweet-quote {
  padding: 3px 12px;
}

#tumblr-quote {
  padding: 3px 16px;
}

#bottom-row {
  display: flex;
  justify-content: space-between;
}

#author-row {
  display: flex;
  justify-content: flex-end;
}

#author {
  color: #282C34;
  font-weight: 450;
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
}

#text {
  color: #282C34;
}

.footer {
  display: flex;
  flex-direction: row;
  color: white;
  margin-top: 10px;
  font-size: 15px;
}

#dev {
  color: white;
  text-decoration: none;
}
